

.container{
  background-image: url('./assets/jeremy-yap-J39X2xX_8CQ-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

}
.header{
  color: white;
}
.new{
  position: relative;
  top: 20%;
}
.form{
  position: relative;
  top: 20%;
}
